*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.container{
	width: 1170px;
	margin:0 auto;
}

 /*styel of header start here*/
header{
	background-image: url(../img/img-1.jpg);
	height: 585px;
	margin-bottom: 40px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	background-attachment: fixed;
}
header::before{
	content:"";
	position: absolute;
	height: 585px;
	background-color: #174017;
	z-index: -1;
	opacity: 0.7;
	width: 1261px;
}
.navigation{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	margin-top: 86px;
}
#logo{
	padding: 10px;
}
nav ul{
	list-style-type: none;

	display: flex;
}
nav ul li{
	padding:40px;
	color: white;
	font-size: 15px;
}
header h1{
	font-size: 45px;
	
	color: white;
	padding-top: 100px;
	font-weight: bold;
}
 /*styel of header end here*/
/*start services here*/
#services{
	height: 350px;
}
#services h2{
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
	font-weight: bold;
	margin-bottom: 20px;
}
#services .services-box{
	height: 200px;
	width: 210px;
	float: left;
	text-align: center;
	margin:-6px 90px;
}
#services .services-box i{
	font-size: 50px;
	padding: 20px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: #f28613;
	margin: 20px;
}
#services .services-box p{
	font-size: 10px;
	padding: 10px;
}

/*end services here*/

/*start work rule here*/
#work-rule{
	background-image: url(../img/img-2.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 710px;
	position: relative;
	z-index: 1;
}
#work-rule::before{
	content: "";
	position: absolute;
	height: 711px;
	width: 1263px;
	z-index: -1;
	background-color: green;
	opacity:0.5;
}
#work-rule h2{

	text-align: center;
	font-weight: bold;
	font-size: 30px;
	padding: 77px 0px;
}
#work-rule .container .box-1{
	height: 400px;
	width:500px;
	float: left;
	margin:10px;
	margin-left: 52px;
	position: relative;
}
#work-rule .container .box-1 img{
	height: 300px;
	width:450px;
}
#work-rule .container .box-1 a img{
	position: absolute;
	height: 45px;
	width: 61px;
	left: 192px;
	top: 114px;
	background-color: black;
	padding: 12px 20px;
	border-radius: 16%;
}
#work-rule .container .box-1 a img:hover{
	background-color: gray;
}

#work-rule .container .box-2{
	height: 400px;
	width:500px;
	float: left;
	margin:10px;
	margin-left: 50px;
	overflow: hidden;
}
#work-rule .container .box-2 .icon {
	height: 139px;
}

#work-rule .container .box-2 .icon img{
	float: left;
	height: 80px;
	width: 80px;
	margin-top: 50px;
	margin-left: 50px;

}
#work-rule .container .box-2 figcaption a p{
	float: left;
	margin-top: 0;
	margin-left: 59px;
	width: 70px;
	color: white;
	font-size: 12px;
}
#work-rule .container .box-2 .btn a{
	height: 32px;
	width: 133px;
	margin: 30px 45px;
	background-color: #EC6E2A;
	display: inline-block;
	padding: 6px 19px;
	text-decoration: none;
	border-radius: 25px;
	float: left;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	transition-duration: 1s;
	box-shadow: 1px 16px 15px #F6BDA6;
}
#work-rule .container .box-2 .btn a:hover{
	background-color: gray;
	box-shadow: 1px 16px 15px gray;
}

/*end work rule here*/

/*start services section here*/
#our-services{
	height: 523px;
	text-align: center;
}
#our-services h2{
	
	font-size: 30px;
	font-weight: bold;
	padding: 55px;
}

#our-services .services-box2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
}
#our-services .services-box2 .boxes{
	height: 100px;
	width: 100px;
	background-color: #EC6E2A;
	text-align: center;
	margin:20px 44px;
	border-radius: 50%;
	box-shadow: 0px 15px 15px #F6BDA6;
}
#our-services .services-box2 .boxes p{
	font-size: 13px;
	padding: 32px 5px;
	color: white;
	text-transform:uppercase;
}

#our-services .btn-see-all{
	height: 35px;
	width: 150px;
	margin-top: 100px;
	margin-left: 518px;
	background-color: #EC6E2A;
	border-radius: 20px;
	box-shadow: 0px 15px 15px #F6BDA6;
}
#our-services .btn-see-all a{
	padding: 4px 10px;
	font-size: 15px;
	color: white;
	text-decoration: none;
	display: block;
}
/*end services section here*/

/*start about us section here*/
#about-us{
	height: 600px;
	text-align: center;
	background-color: #f5efef;
}
#about-us h2{
	font-size: 30px;
	font-weight: bold;
	padding:50px;
}
#about-us .about-boxes{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
}
#about-us .about-boxes .box{
	height: 350px;
	width: 300px;
	margin-right: 14px;
	border: 1px solid #e7cece;
	background-color: white;
	border-bottom: 5px solid red;
}
#about-us .about-boxes .box img{
	text-align: center;
	margin: 52px 10px 10px;
}
#about-us .about-boxes .box h5{
	
}
#about-us .about-boxes .box p:nth-of-type(1){
	font-size: 11px;

	padding: 5px;
}
#about-us .about-boxes .box span{
	color: red;
}
#about-us .about-boxes .box p:nth-of-type(2){
	font-size: 14px;
	padding: 10px;
}
/*end about us section here*/

/*start footer section here*/
#footer{
	height: 350px;
	background-color: #113B30;
}
#footer .footer-sec{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#footer .sec-box{
	height: 240px;
	width: 200px;
	margin:10px;
	color: white;
}
#footer .sec-box h6{
	padding:14px 0px;
	font-size: 15px;
}
#footer .sec-box ul{
	padding: 0px 41px;

}
#footer .sec-box ul li{
	
	font-size: 10px;
}
#footer .sec-box:last-child{
	width: 270px;
}
#footer .sec-box p{
	font-size: 10px;
	color: white;
}
#map{
	height: 270px;
	width: 150px;
}
#map img{
	height: 123px;
	width: 260px;
	margin-top: 10px;
}
#footer hr{
	color:#fefcfc;
	margin-top: 1px;
}
#footer .copyright p{
	text-align: center;
	color: white;
	font-size: 10px;
	padding: 30px;
}
/*end footer section here*/