*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-weight: bold;
	font-size: 0 0 15px;color:#637f83;
}
p{
	font-size: 10px;
}
.container{
	width: 1170px;
	margin:0 auto;
}
.navigation{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin: 0px 140px;
}
#logo{
	padding: 3px;
}
 
nav ul{
	list-style-type: none;
	display:flex;
}
nav ul li{
	margin:8px;
	padding:10px;
	text-transform: uppercase;
}
nav ul li.active a,
nav ul li:hover a {
    color: #e4551d;
}
#banner{
	background-image: url(../img/banner.jpg);
	background-color: #ccc none repeat scroll 0 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	display: flex;
	align-items: center;
	text-align: center;
	color:white;
}
#banner .container h1, p{
	display: flex;
	justify-content: center;
	
}
#banner h1{
	font-size: 40px;
	color: #f7e7e7;
}
#banner p{
	font-size: 15px;
}
.services-titel .container{
	color: gray;
	text-align: center;
	padding: ; 
	padding: 10px;
}
.services-titel h2{
	font-size: 34px;
}
.services-titel p{
	font-size: 15px;
}
#services{
	background-color: #F6F6F6;
	margin-top: 26px;
}
.services-box-wrap{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.services-box{
	height: 300px;
	width: 293px;
	margin-top: 1px solid gray;
	padding:10px;
	border-right: 1px solid #a99e9e;
}
.services-box i{
	color: #e4551d;
	font-size: 70px;
}
.services-box h3{
	color: #637f83;
	font-size: 24px;
}
.services-box p{
	color: #959494;
	font-size: 10px;
}
.services-box .more-btn{
	background-color: #637f83;
	color:#fff;
	border-radius: 3px;
	padding: 7px 20px;
	margin-top: 30px;
	display: inline-block;
}
.services-box:nth-child(1){
	border:none;
}
.services-box:nth-child(5){
	border:none;
}.services-box:nth-child(6){
	border:none;
}
.portfolio-title{
	text-align: center;
	margin: 10px;
	padding:10px;
}
.portfolio-title h4 {
	color:#637f83;
	font-size: 25px;
}
.portfolio-title p {
	color: #959494;
	font-size: 10px;
	margin-bottom: 15px;
}
.portfolio-box-wrap{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin:10px;
	flex-wrap: nowrap;
}
.portfolio-box{
	height: 165px;
	width: 288px;
	padding-right: 15px;
}
#portfolio .container .btn a{
	text-align: center;
	background-color: #e4551d;
	border-radius: 3px;
	margin: 34px 510px 20px;
	text-decoration: none;
	display: block;
	font-size: 20px;
	color: #f6e7e7;
}
#s-provider .col-md-3, .col-md-9{
	margin-bottom: 30px;
}
.footer-title{
	height: 150px;
	background-color: #637f83;
	text-align: center;
	padding:35px;
}
.footer-title h6{
	font-size: 25px;
	color: white;
}
.footer-title p{
	font-size: 15px;
	color: white;
}
.sign-up{
	height: 98px;
	padding:50px;
	margin-left:195px;
	display: block;
	font-size: 20px;
}
.sign-up input{
	background-color: #637f83;
	border-radius: 3px;
	width: 350px;
	color: white;
}
.sign-btn{
	border-radius: 3px;
	background-color:#637f83;
	color: white;
	margin-left: 10px;
}
#footer .footer-bg{
	height: 110px;
	background-color: #637f83;
	text-align: center;
}
#footer .footer-icon{
	display:flex;
	justify-content: center;
	padding:15px;
}
#footer i{
	border-radius: 35px;
	background-color: #e4551d;
	font-size: 45px;
	width: 70px;
	padding: 16px;
	margin: 10px;
	height: 70px;
}
.footer-icon p{
	padding-top: 50px;
	color: white;
}