
body{

}
.container{
	width: 1170px;
	margin:0 auto;
	box-sizing: border-box;
}
header{
	/*! height: 80px; */
	/*! background-color: #749D75; */
	/*! text-align: center; */
}
header h1{
	padding:10px;
	font-size: 46px;
	height: 80px;
	background-color: #749D75;
	margin: 0;
	text-align: center;
}
.side-bar{
	height: 350px;
	width: 300px;
	background-color: #D1CE71;
	float: left;
	margin-left: 0px;

}
.side-bar h2{
	padding:10px;
}
.content{
	height: 350px;
	width: 600px;
	background-color: #7D8000;
	float: left;
}
.content p:nth-child(2){
	width: 141px;
	float: left;
	padding: 0px 10px;
	margin: 0px;
}

.content p:nth-child(1){
  	padding: 10px;
}
img{
	float: left;
	height: 200px;
	width: 336px;
	border: 1px solid black;
	margin-left: 30px;
	margin-top: 10px;
}
.right{
	height: 350px;
	width: 270px;
	background-color: #D2D06B;
	margin:0;
	padding: 10px;
	float: left;
	box-sizing: border-box;
}
#footer .footer{
	height: 80px;
	background-color: #979761;
	text-align: center;
	clear: both;
}
.footer h2{
	font-size: 30px;
	text-align: center;
	padding: 21px;
}