*{
	margin: 0px auto ;
	padding: 0px auto;
	box-sizing: border-box;

}
.container{
	width:1170px;
	/*! background: #e9e9e9; */
	background-color: #efecec;
	/*! opacity:0.7; */

	height: 700px;
}
/*header*/
header{
	width:1170px;
	height: 92px;
	background-color:#057B71;
	border-radius: 10px;
}
h1{
	text-align: center;
	padding: 15px;
}
/*end header*/


/*box style*/
.box-wrap{
	display:flex;
}
.box1{
	height:500px;
	width:300px;
	background-color: #E4E067;
}
.box2{
	height:500px;
	width:700px;
	background-color:#A39E14;
}
.box3{
	height:500px;
	width:300px;
	background-color: #E4E067;
}
.box1 ul li a {
	text-decoration:none;
	color:black;
	font-size: 20px;
}
.box3 ul li a {
	text-decoration:none;
font-size: 20px;
	color:black;
}
.box1 h1{
	font-size: 30px;
	color:black;
}
.box2 p{
	color:black;
	padding:10px;
	font-size: 20px;
}
img {
	border: 2px solid black;
	float: right;
	margin: 9px;
	height: 269px;
	width: 450px;
}
.sideber{
	display:flex;
	padding:40px;
}
.sideber p{
	font-size: 20px;
}
/*end box style*/

/*footer*/
footer{
	width:1170px;
	background-color:gray;
	height:80px;
}
footer p{
	text-align: center;
	font-size: 20px;
}
/*end footer*/
