*{
	margin:0;
	padding:0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.container{
	width: 1170px;
	background-color:gray;
	margin:0 auto;
	/*! height: 1000px; */
}
.parent-box{
	height: 700px;
	width:700px;
	background-color: white;
	position: relative;
	
	margin: 0 auto;
}
.box-1{
	height: 100px;
	width: 650px;
	background-color: #f0e829;
	margin:10px;
	position: absolute;
	border-radius: 10px;
	text-align: center;
	font-size: 40px;
}
.box-2{
	height: 400px;
	width: 100px;
	background-color: #bd530a;
	margin:18px;
	position: absolute;
	border-radius: 10px;
	top: 111px;
	font-size: 21px;
	
}
.box-2 p{
	padding: 10px;
	
}

.box-3{
	height: 389px;
	width: 524px;
	background-color: #DAF0BB;
	margin:10px;
	position: absolute;
	left: 124px;
	top: 123px;
	border-radius: 10px;
	font-size: 30px;
}
h1 {
	margin-bottom: 29px;
}
.box-3 h2{
	padding: 7px;
	background-color: #89f0ef;
	margin: 10px 56px;
	text-align: center;
	border-radius: 10px;
}
.box-4{
	height: 50px;
	width: 626px;
	background-color: #d48fe6;
	margin:10px;
	position: absolute;
	border-radius: 10px;
	bottom: 94px;
	left: 17px;
	text-align: center;
	font-size: 30px;
}