* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
header {
	background-color: #C3C3C3;
}
.container {
	max-width: 1040px;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.logo{
	font-size: 40px;
}
nav ul {
	display: flex;
	list-style-type: none;
	width: 443px;
}
nav ul li a {
	color: #000;
	text-decoration: none;
	margin: 30px;
	display: block;
}

#banner {
	background-color: #C3C3C3;
}
#banner .container{
	height: 350px;
}
#banner .row {
	display: flex;
	justify-content: space-between;
}
#banner .row .col-md-4{
	font-size: 30px;
	flex-wrap: wrap;
}
#banner .row .col-md-8 {
	width: 83%;
	height: 400px;
}
#banner .row .col-md-8:last-child {
	background-color: #9d9898;
	color: #d4d2d2;
	height: 320px;
	align-items: center;
	display: flex;
	justify-content: center;
}
#body .container{	
	margin-top: 30px;
}
#body .container .parent{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#body .container .child{
	height: 300px;
	width: 300px;
	background-color: #c0c7c0;
	margin-top: 40px;
	margin-left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #8b7777;
}
#body .container .child:nth-child(7){
	width: 962px;
	display: flex;
	height: 100px;
	margin-bottom: 30px;
}