*{
	 margin:0 auto; 
	 padding: 0; 
	
}
body{
	font-family: 'Open Sans', sans-serif;
}
.container{
	width:
	

}
header{
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	margin: 3px;
}
#logo{
	display: flex;
	padding: 10px; 
	margin-left:200px;
	margin-top: 10px;
}
.menu nav ul{
	display: flex;
	list-style-type: none;
		align-items: flex-end;
	margin-right: 145px;
}
.menu nav ul li{
	padding: 10px;
	margin:10px;
}
.menu nav ul li a{
	text-decoration: none;
	display: block;
	color: gray;
}
#banner{
	background-image: url(../img/img-1.jpg);
	align-items: center;
	height: 340px;
	width: 1280px;
	text-align: center;
	display: flex;
	background-size: 1280px;
}
#banner h1{
	font-size: 30px;
	color: #e4d4d4;
}
#banner p{
	font-size: 12px;
	color: #e1e1e9;
	padding: 15px;
}
.head2{
	text-align: center;
	height:62px;
	width:1280px;
	color:#b2a8a8;
	padding: 15px;
}
.head2 h2{
	font-size: 25px;
}
.head2 p{
	font-size: 20px;
}
#content .parent{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
}
#content .child{
	height: 200px;
	width: 320px;
	background-color: #f6f4f4;
	padding: 50px;
}
#content .child h3{
	font-size: 15px;
	padding-top: 20px;
}
#content .child button{
	margin-top:5px;
	width: 50px;
	background-color: #646464;
	color: white;
	bordr:5px;
}
#content .child button:hover{
	background-color: #d44026;
	color:#fff;
}


#content .child p{
	font-size: 9px;
	padding-top: 5px;
}

#content .child:nth-child(2){
	align-items:flex-start;
	border-right: 1px solid #d8cdcd;
}
#content .child:nth-child(3){
	border-right: 1px solid #d8cdcd;
}


#content .child:nth-child(4){
	align-items:flex-start;
	border-right:1px solid #d8cdcd;
}
#content .head3{
	height: 100px;
}

#content-img h3{
	font-size: 30px;
	color:gray;
	padding-top: 30px;
	text-align: center;
}
#content-img p{
	font-size: 20px;
	color:gray;
	padding-top:5px;
	padding-bottom:15px;
	text-align: center;

}
#content-img .img-parent{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 40px;
}
#content-img .img-child{}
.button2{
	text-align: center;
}
.button2 button{
	width:112px;
	background-color: #F87116;
	/*! padding-top: 4px; */
	margin:23px;
	/*! padding-bottom: 4px; */
	border-radius: 7px;
	padding: 6px;
	font-size: 15px;
}
#portfolio .parent{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	margin:10px;

}
#portfolio .child{
	width: 300px;

}
#protfolip .child:nth-child(1){
	width: 80px;
	align-items: flex-end;
	
}

.content-p{ 
	height: 130px;
    width:1280px;
    background-color: #637F83;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.content-p h1{
    font-size: 30px;
	padding-bottom: 5px;

}

.content-p p{ 
	font-size: 25px;
    padding-bottom: 20px;
}
.sign{
	height: 70px;
	width: 1280px;
	text-align: center;
    margin-top: 47px;
    /*! margin-bottom: 20px; */

}
.sign input{
	width: 300px;
	height: 33px;
	background-color: #637183;	
	border-radius: 7px;
}
.sign button{
	width: 100px;
	height: 36px;
	background-color: #637183;
	color: white;
	font-size: 23px;
	
	margin: 5px;
	border-radius: 7px;
}
.footer{
	display: inline-block;
	height: 150px;
	text-decoration: none;
	background-color: #637F83;
	width: 1280px;
	text-align: center;
	padding:30px;
}