*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
header{
	background-color: #E1E1E1;
	height: 83px;
}
.container{
	margin:0 auto;
	width: 1170px;
}
.navigation{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items: center;
}
#logo{
	font-size:40px;
}
#logo a{
	text-decoration: none;
}
nav ul{
	display:flex;
	list-style-type: none;
	width:443px;
}
nav ul li a{
	display: block;
	margin:10px;
	padding: 10px;
	text-decoration:none;
	font-size: 30px;
}
#banner{
	background-color: #E1E1E1;
}
#banner .container{
	height:400px;
}
#banner .container .row{
	display: flex;
	justify-content: space-between;
}
#banner .container .col-4{
	width:40%;
	font-size: 30px;
	flex-wrap: wrap;
}
#banner .container .col-8{
	width:60%;
	background-color: gray;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#services .container .services{
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	justify-content: center;
	margin-top: 50px;
}
.services .services-box{
	height: 340px;
	width:340px;
	margin-top:20px;
	background-color: #E1E1E1;
	margin: 15px 10px;
}
.twitter{
	height: 100px;
	align-items: center;
	background-color: #E1E1E1;
	margin:40px 52px;
	display: flex;
	justify-content: center;
}
#footer{
	background-color: #E1E1E1;
}
#footer .footer{
	display: flex;
	justify-content: space-between;

}
#footer .footer div a{
	padding: 20px;
	font-size: 20px;
	display: block;
}